[submodule "bitloom-core"]
	path = bitloom-core
	url = https://github.com/bluezephyr/bitloom-core.git
[submodule "bitloom-avr"]
	path = bitloom-avr
	url = https://github.com/bluezephyr/bitloom-avr.git
[submodule "bitloom-ssd1306"]
	path = bitloom-ssd1306
	url = https://github.com/bluezephyr/bitloom-ssd1306
[submodule "bitloom-costumes"]
	path = bitloom-costumes
	url = git@github.com:bluezephyr/bitloom-costumes.git
